<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <%= stylesheet_link_tag    "title/application", media: "all" %>
  <%= javascript_include_tag "title/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h1>Anil Yadav</h1>
<h1>Anil Yadav</h1>
<h1>Anil Yadav</h1>
</body>
</html>
